<p id="notice"><%= notice %></p>

<h1>Contactos</h1>

<table>
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Correo</th>
      <th>Numero</th>
      <th>Puesto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contactos.each do |contacto| %>
      <tr>
        <td><%= contacto.cliente %></td>
        <td><%= contacto.nombre %></td>
        <td><%= contacto.apellidos %></td>
        <td><%= contacto.correo %></td>
        <td><%= contacto.numero %></td>
        <td><%= contacto.puesto %></td>
        <td><%= link_to 'Show', contacto %></td>
        <td><%= link_to 'Edit', edit_contacto_path(contacto) %></td>
        <td><%= link_to 'Destroy', contacto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contacto', new_contacto_path %>
