<p id="notice"><%= notice %></p>

<h1>Reuniones</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Diayhora</th>
      <th>Usuario</th>
      <th>Virtual</th>
      <th>Cliente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reuniones.each do |reunione| %>
      <tr>
        <td><%= reunione.titulo %></td>
        <td><%= reunione.diayhora %></td>
        <td><%= reunione.usuario %></td>
        <td><%= reunione.virtual %></td>
        <td><%= reunione.cliente %></td>
        <td><%= link_to 'Show', reunione %></td>
        <td><%= link_to 'Edit', edit_reunione_path(reunione) %></td>
        <td><%= link_to 'Destroy', reunione, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reunione', new_reunione_path %>
