<%= form_with(model: session, local: true) do |form| %>
  <% if session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :users_id %>
    <%= form.text_field :users_id, id: :session_users_id %>
  </div>

  <div class="field">
    <%= form.label :token %>
    <%= form.text_field :token, id: :session_token %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
