<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @cliente.nombre %>
</p>

<p>
  <strong>Cedula:</strong>
  <%= @cliente.cedula %>
</p>

<p>
  <strong>Pagina:</strong>
  <%= @cliente.pagina %>
</p>

<p>
  <strong>Dirrecion:</strong>
  <%= @cliente.dirrecion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @cliente.telefono %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @cliente.sector %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
